<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <style>
        body {
            background-color: rgb(17 24 39 / 1);
            color: #fff;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: rgb(31 41 55 / 1);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h1, p {
            text-align: center;
            margin: 10px;
        }
        #links {
            margin: 5px;
            margin-top: 30px;
        }
        a {
            cursor: pointer;
            padding: 15px;
            margin: 15px;
            border: 1px solid white;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            transition: all 0.5s;
        }
        a:hover {
            background-color: white;
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Something Went Wrong</h1>
        <div id="links">
            <a href="/api/auth/login">Go To Login</a>
            <a href="/api/auth/register">Go To Sign Up</a>
        </div>
    </div>
</body>
</html>
