DATABASE_URL="postgres://username:password@database:5432/default_database"
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=default_database
POSTGRES_PORT=5432
REDIS_PORT=6379

FRONTEND_URL= "http://localhost"
VITE_BACKEND_URL= "http://localhost:5000"
BACKEND_PORT= 5000
VITE_WS_URL= "ws://localhost:8000"
WEBSOCKET_PORT= 8000
ALLOWED_HOSTS= "http://localhost:5173,http://localhost:3000,http://localhost"