<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>SignUp</h2>
    <form method="post">
      <input type="text" placeholder="Name" name="name" />

      <input type="text" placeholder="Email" name="username" />

      <input type="text" placeholder="Password" name="password" />
      <button>Register</button>
    </form>
  </body>
</html>
